@import url('./tamanhos.css');
@import url('cores.css');


.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    max-width: 1440px;
    height: 400px;
    background-color: var(--color30);
    border-radius: 10px;
    margin: 10px auto;
}


.tituloBanner{
    text-transform: capitalize;
    width: 100%;
    text-align: center;
    color: var(--color10);
    margin-top: 10px;
}