
@import url('./tamanhos.css');
@import url('cores.css');


.slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%; 
    height: 250px;
    background-color: var(--color60);
    margin: 10px auto;
}

.item-slide{
    width: 100%;
    height: 250px;
    background-size: cover;
    object-fit: contain;
    margin-bottom: -4px;
}

.item-slide:hover{
    cursor: pointer;
    transform: scale(1.1);
}

 